<%= form_with(model: [@email, @reply]) do |f| %>
  <div class="mb-3">
    <%= f.label :body, value:"Message", class:"form-label"%>
    <%= f.text_area :body, class:"form-control"%>
  </div>
  <%= f.submit value:"Reply", class:"btn btn-primary"%>
<% end %> 
